.groupInput {
    position: relative;
    z-index: 90;
}

.formInput{
    width: 100%;
    text-align:left;
    padding: 7px 40px 7px 10px;
    transition: .3s ease all;
    border: 1px solid transparent;
    
    border-bottom: 1px solid #ced4da;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
    &:focus {
        border: 1px solid #104274;
        outline: none;
        box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4 );
        border-radius: 3px;
    }
}


.l-error {
    font-size: 12px;
    margin-bottom: 0;
    color: #d80000;
    padding-top: 10px;
    // display: none;

}

.i-valid{
    position: absolute;
    right: 10px;
    bottom: 14px;
    z-index: 100;
    font-size: 16px;
    color: #06bb00;
    // opacity: 0;
}

.i-error {
    position: absolute;
    right: 10px;
    bottom: 14px;
    z-index: 100;
    font-size: 16px;
    color: #d80000;
    // opacity: 0;
}

.i-default {
    display: none;
}

