.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
    border: 0;
    width: 2%;
    
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 25px;
    height: 25px;
    font: 25px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 25px;
    height: 25px;
    font: 25px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
.qty{
    height: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mi9 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   
}

.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}

span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}

.c-title{
    width:90%;
    height: 90px;
    text-align:start;
}

.img-cart {
    width: 150px;
    height: 150px;
}

.hr-c {
    margin-top: 1rem;
}

.btnTrash {
    background-color: #fff;
    border: none;
}

.p-container{
    display: flex;
    align-items: flex-start;
    
}