
.dContainer {
    margin: 70px;
    display: flex;
    justify-content: space-evenly;
    

}

.detalle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 70px;
    margin-right: 70px;
    border-style: ridge;
    padding-left: 100px;
    padding-right: 100px;
}

.imgDetail {
    width:500px;
    height:500px;
}