@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap');

.card {
    margin: 20px;
    border: 2px solid #343a40;
    font-family: 'Raleway', sans-serif;
}

.imgg {
    height: 300px;
    width: 320px;
    margin:auto;
}

.card-body {
    color: black;
}
