
.buttonsContainer{
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding-left: 50px;
    padding-right: 50px;

    &__count {
        display: flex;
        padding: 10px;
    }

    &__add{
        margin: 7px;
    }
}

input {
    text-align: center;
}

.btnAdd{
    margin-top: 10px;
}

.qty2 .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
    border: 0;
    width: 2%;
    
}
.qty2 .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 25px;
    height: 25px;
    font: 25px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty2 .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 25px;
    height: 25px;
    font: 25px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
.qty2 {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}